body {
    margin: 0;
    background-color: #59c9fd;
    background-image: url("../img/chatbot.png");
    height: 100%;
    background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-blend-mode: soft-light;
    background-position-x: right;
}
#header-heading {
    letter-spacing: 2px;
    font-size: 24px;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}
#navbarToggler {
    padding-left: 35%;
    justify-content: center;
}
.header-links {
    margin: 0 30px 0 30px;
}
#chatbot-page {
   
   
}
.chatbot-page-content {
    padding: 200px 50px;
    
    /* color: #c7c7c7; */
}
/* #index_page {
   
    background-image: url(/img/..);
    
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    width: 100%;

}


.header {
    background-color: #ff1231 !important;
    display: flex;
    align-items: center;
    width: auto;
    height: 70px;

}

.dropbtn {
  background-color: transparent;
  color: transparent;
  text-align: center;
  transition-duration: 0.4s;
  border: 1px ;
  font-size: 1em;
  float: right;
}

.dropdown {
    position: relative;
  display: run-in;
}

.dropdown-content {
  display: none;
  position: fixed;
  right: 50px;
  top: 60px;
  background-color: #f9f9f9;
  max-width: 500px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
    position: relative;
  padding: 9px 12px;
  text-decoration: none;
  display: block;
  font-weight: bold;
}


.dropdown:hover .dropdown-content {
  display: block;
}
.jik{
  background-color: transparent;
  color: transparent;
  text-align: center;
  transition-duration: 0.4s;
  border: 1px ;
  font-size: 1em;
  float: right;
  
}

#header_text {
    text-align: center;
    font-size: 3em;
    float: left;
    width: 30%;
    
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: white;
}
#header_text:hover {
    color: rgb(151, 235, 250);
 
}
#header_right {

    text-align: center;
    display: block;
    width: 100%;
    font-size: 1.5em;
    position: relative;
    display: inline-block;
}
.header_link {
    color: white;
    font-weight: bold;
    text-decoration: none;
    float: right;
    margin-right: 50px;
}
.header_link:hover {
    color: rgb(151, 235, 250);
}
#account {
    color: white;
    font-size: 1.5em;
    float: right;
    
}
#account a {
    text-decoration: none;
    color: rgb(147, 147, 151);
}
#main_content {
    padding-top: 10%;
    float: right;
    width: 40%;
    height: auto;
    margin-right: 5%;
    text-align: center;
    justify-content: center;
    background-color: rgb(232, 243, 167);
}
#main_content p {
    font-size: 3rem;
    text-align: center;
    justify-content: center;
    color: #84CECF;
}
#main_content p span {
    font-size: 4.5rem;
}

#main_content h1 {
    margin-bottom: 40px;
    font-size: 2.5rem;
}
#form {
    align-content: center;
}
#input {
    padding: 5px;
}

#button {
    background-color: rgb(32, 88, 127);
    padding: 5px;
    color: #f1f1f1;
}
footer {
    text-align: center;
    padding: 2px;
}
#main_content_about {
    height: 480px;
    width: 60%;
    margin: 0 auto;
    padding-top: 10%;
    text-align: center;
}
#main_content_portfolio {
    height: 480px;
    width: 60%;
    margin: 0 auto;
    padding-top: 10%;
    text-align: center;
} */


