body {
    margin: 0;
    /* background-color: #f8f9fa; */
    background-color: #34ADFF;
   
   
}
#front-page-gradient {
    background-image: -webkit-linear-gradient(150deg, #34ADFF 55%, #4CBFFF 55%);
    /* height: 100vh; */
    min-height: 100vh;

}
#main-heading {
    letter-spacing: 2px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#navbarToggler {
    padding-left: 40%;
    justify-content: center;
}
.header-links {
    margin: 0 30px 0 30px;
}
.main-page-container {

    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
.main-page-container img {
   
    width: 80%;
    /* height: auto; */
    
}
.main-page-content {
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
#block-2 {
    background-color: #34ADFF;
    /* background-image: url(/img/AIDoc.jpg); */
}