body {
    margin: 0;
    /* background-color: #f8f9fa; */
    background-color: #34ADFF;
    background-image: -webkit-linear-gradient(150deg, #34ADFF 50%, #4CBFFF 50%);
    min-height: 100px;
   
}

.main-page-container {

    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
.main-page-container img {
   
    width: 80%;
    /* height: auto; */
    
}