
..........................................
<div class="header">
    <div id="header_text">
      <b> MEDICBOT</b>
    </div>
    <div id="header_right">

        <button  type="button" class="jik"> <a class="header_link" href="./history">Contact</a> </button>
        <button  type="button" class="jik"> <a class="header_link" href="./docs">Docs</a> </button>
        <button  type="button" class="jik"> <a class="header_link" href="./">Chatbot</a> </button>
        <!--<button  type="button"class="jik"> <a class="header_link" href="./">Developers</a> </button>-->
    </div>

        <div class="dropholder">
        <div class="dropdown"><p>
            name
            <!-- 
                 {{#if name}}
                    {{name}} 
                    {{/if}}
                    -->
        </p></div>
        <ul class="menu">
            <li><i class="fa fa-thumbs-down"></i> Myaccount</li>
            <li><i class="fa fa-thumbs-up"></i> Uploads</li>
            <li><i class="fa fa-bolt"></i> History</li>
            <li><i class="fa fa-star"></i> Logout</li>
            <!--<li><i class="fa fa-heart"></i> ss</li>-->
        </ul>
        </div>
    

</div>
