
<link rel="stylesheet" href="../css/index.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../js/dropdown.js"></script>
  
<div class="header">
    <div id="header_text">
      <b> MEDICBOT</b>
    </div>
    <div id="header_right">
        <div class="dropdown">
            <button class="dropbtn">Dropdown123</button>
            <div class="dropdown-content">
              <a href="#">Link 11</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
          </div>
        <button  type="button" class="jik"> <a class="header_link" href="./history">Contact</a> </button>
        <button  type="button" class="jik"> <a class="header_link" href="./docs">Docs</a> </button>
        <button  type="button" class="jik"> <a class="header_link" href="./">Chatbot</a> </button>
        <!--<button  type="button"class="jik"> <a class="header_link" href="./">Developers</a> </button>-->
        
    </div>
</div>

